
@import "theme";
@import 'app/components/apk-input/apk-input.component';

@include mat-core();

@mixin custom-components-theme($theme) {
  @include input-component-theme($theme);
}

@include angular-material-theme($app-theme);
@include custom-components-theme($app-theme);


body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 10px;
}

.version-info {
  font-size: 8pt;
  float: right;
}



.apk-select {
   .full-width {
    width : 100%;
  }

  .mat-form-field-appearance-outline {
    
    .mat-form-field-infix {
    border-top: .3em solid transparent;
    padding: 0.5em 0 0.5em 0;
    }

    .mat-form-field-prefix {
      top : 0.4em;
    }

    .mat-select-arrow-wrapper {
        transform: initial;
    }
  }
}