@import '~@angular/material/theming';
@import 'variables.scss';

@include mat-core();


$app-primary: mat-palette($primary);
$app-accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$app-warn:    mat-palette($mat-red);


$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);


/// Material component style override


.apk-select {
   .full-width {
    width : 100%;
  }

  .mat-form-field-appearance-outline {
    
    .mat-form-field-infix {
    border-top: .3em solid transparent;
    padding: 0.5em 0 0.5em 0;
    }

    .mat-form-field-prefix {
      top : 0.4em;
    }

    .mat-select-arrow-wrapper {
        transform: initial;
    }
  }
}
 
