.apk-input {
  .full-width {
    width : 100%;
  }

  .mat-form-field-appearance-outline {

    .mat-focused {

    }
    
    .mat-form-field-infix {
      border-top: .3em solid transparent;
      padding: 1em 0 1em 0;
    }
    .mat-form-field-outline{
      background-color: #f5f5f5;
      border: none;
      border-radius: 0.125rem;
    }
    .mat-form-field-outline-start{
      border-radius: 0.125rem 0 0 0.125rem;
    }
    .mat-form-field-outline-end{
      border-radius: 0 0.125rem 0.125rem 0;
    }
    .mat-form-field-flex{
      // &:hover:not(.mat-focused){
      //   .mat-form-field-outline-thick{
      //     color: transparent;
      //   }
      // }
    }
  }
}

