<div class="a-header d-flex align-items-center justify-content-between a-px-20">
  <div class="d-flex align-items-center">
    <div class="a-pwc-logo-grid a-md"></div>
    <span class="divider a-mx-20"></span>
    <div class="font-weight-medium a-nowrap">Application name</div>
    <span class="divider-full a-ml-20 a-mr-10"></span>
    <div class="a-dropdown a-dropdown-one">
      <div class="a-dropdown-toggle">
        <div class="a-choosen-text">Page menu one</div>
        <i class="a-icon appkiticon icon-down-chevron-fill"></i>
      </div>
      <div class="a-dropdown-menu">
        <div class="a-dropdown-item justify-content-between align-items-center active">
          <div>
            <div>
              <i class="a-icon-one appkiticon icon-duplicate-fill a-font-12"></i>
              <span class="a-show-text a-h6">Page menu one</span>
            </div>
            <div class="a-text-9e9 a-text-caption a-font-12">Starbucks</div>
          </div>
          <i class="a-icon-two appkiticon icon-confirmed-fill"></i>
        </div>
        <div class="a-dropdown-item justify-content-between align-items-center">
          <div>
            <div>
              <i class="a-icon-one appkiticon icon-duplicate-fill a-font-12"></i>
              <span class="a-show-text a-h6">Page menu two</span>
            </div>
            <div class="a-text-9e9 a-text-caption a-font-12">Starbucks</div>
          </div>
          <i class="a-icon-two appkiticon icon-confirmed-fill"></i>
        </div>
        <div class="a-dropdown-item justify-content-between align-items-center">
          <div>
            <div>
              <i class="a-icon-one appkiticon icon-duplicate-fill a-font-12"></i>
              <span class="a-show-text a-h6">Page menu three</span>
            </div>
            <div class="a-text-9e9 a-text-caption a-font-12">Starbucks</div>
          </div>
          <i class="a-icon-two appkiticon icon-confirmed-fill"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex align-items-center">
    <span class="link-icon">
      <i class="appkiticon icon-help-question-outline"></i>
    </span>
    <span class="link-icon">
      <i class="appkiticon icon-survey-outline"></i>
    </span>
    <span class="link-icon">
      <i class="appkiticon a-font-14 icon-grid-view-outline"></i>
    </span>
    <div class="a-logout">
      <div aria-expanded="false" aria-haspopup="true" class="user-name a-text-white a-bg-primary size-24"
        data-toggle="dropdown">FL</div>
      <div class="dropdown-menu dropdown-menu-right a-shadow-sm border-0 a-user-setting-panel-one">
        <div class="dropdown-title">
          WELCOME FIRST LASTNAME
        </div>
        <ul class="user-infor-list">
          <li class="user-infor-list-item">My Profile</li>
          <li class="user-infor-list-item">Notification Settings</li>
          <li class="user-infor-list-item">Manage Following Items</li>
          <li class="user-infor-list-item">Manage User Groups</li>
          <li class="user-infor-list-item">View Reported Issues</li>
        </ul>
        <div class="user-logout">
          <button class="sign-out-btn a-btn a-btn-primary a-btn-lg">SIGN OUT</button>
        </div>
      </div>
    </div>
  </div>

</div>